In [1]:
# install.packages("purrr")

In [2]:
library(purrr)

In [3]:
library(lubridate)

Attaching package: ‘lubridate’

The following object is masked from ‘package:base’:

    date

In [4]:
soma_um <- function(x) { x + 1 }

In [5]:
obj <- 10:15
t1 <- now()
for (i in seq_along(obj)) {
  obj[i] <- soma_um(obj[i])
}
t2 <- now()
obj

t2 - t1

Warning message in C_valid_tz(tzone):
“System timezone name is unknown. Please set environment variable TZ.”

[1] 11 12 13 14 15 16

Time difference of 0.02791595 secs

In [6]:
obj <- 10:15
t3 <- now()
obj <- map(obj, soma_um)
t4 <- now()
obj

t4 - t3

[[1]]
[1] 11

[[2]]
[1] 12

[[3]]
[1] 13

[[4]]
[1] 14

[[5]]
[1] 15

[[6]]
[1] 16

Time difference of 0.006315947 secs

In [7]:
obj <- 10:15
t5 <- now()
obj <- map_dbl(obj, soma_um)
t6 <- now()
obj
t6 - t5

[1] 11 12 13 14 15 16

Time difference of 0.01518297 secs

In [8]:
soma_n <- function(x, n = 1) { x + n }
obj <- 10:15

t7 <- now()
obj <- map_dbl(obj, ~soma_n(.x, 2))
t8 <- now()

obj
t8 - t7

[1] 12 13 14 15 16 17

Time difference of 0.01733494 secs

In [9]:
obj <- 10:15

t9 <- now()
obj <- map_dbl(obj, soma_n, n = 2)
t10 <- now()

obj
t10 - t9

[1] 12 13 14 15 16 17

Time difference of 0.004962921 secs

In [11]:
obj <- 10:15

t11 <- now()
obj <- obj+2
t12 <- now()

obj
t12 - t11

[1] 12 13 14 15 16 17

Time difference of 0.003796101 secs

In [13]:
obj <- 10:15

t11 <- now()
obj <- map(obj, ~.x+2)
t12 <- now()

obj
t12 - t11

[[1]]
[1] 12

[[2]]
[1] 13

[[3]]
[1] 14

[[4]]
[1] 15

[[5]]
[1] 16

[[6]]
[1] 17

Time difference of 0.01249385 secs

___

In [12]:
obj_1 <- 10:15
obj_2 <- 20:25

t13 <- now()
res <- map2_dbl(obj_1, obj_2, ~.x+.y)
t14 <- now()

res
t14 - t13

[1] 30 32 34 36 38 40

Time difference of 0.02164412 secs

In [17]:
soma_varios <- function(x, y, z) { x + y + z }
obj_1 <- 10:15
obj_2 <- 20:25
obj_3 <- 30:35

t14 <- now()
obj_1 <- pmap_dbl(list(obj_1, obj_2, obj_3), soma_varios)
t15 <- now()

obj_1
t15 - t14

[1] 60 63 66 69 72 75

Time difference of 0.01379204 secs

In [18]:
obj <- 10:15

t16 <- now()
res <- imap_dbl(obj, ~.x+.y)
t17 <- now()

res

t17 - t16

[1] 11 13 15 17 19 21

Time difference of 0.008646965 secs

In [20]:
obj <- 10:15

t18 <- now()
res <- imap_dbl(obj, ~.x+.y+2)
t19 <- now()

res

t19 - t18

[1] 13 15 17 19 21 23

Time difference of 0.01048779 secs

____

In [21]:
dobra <- function(x) { x*2 }

In [22]:

obj <- 10:15
t19 <- now()
for (i in seq_along(obj)) {
  if (obj[i] %% 2 == 1) { obj[i] <- dobra(obj[i]) }
  else                  { obj[i] <- obj[i] }
}
t20 <- now()

obj
t20 - t19

[1] 10 22 12 26 14 30

Time difference of 0.01797605 secs

In [23]:
eh_impar <- function(x) { x%%2 == 1 }

In [26]:
obj <- 10:15

t21 <- now()
res <- map_if(obj, eh_impar, dobra)
t22 <- now()

str(res)

t22 - t21

List of 6
 $ : int 10
 $ : num 22
 $ : int 12
 $ : num 26
 $ : int 14
 $ : num 30

Time difference of 0.004441977 secs

In [27]:
obj <- 10:15

t23 <- now()
res <- map_if(obj, eh_impar, dobra) %>% flatten_dbl()
t24 <- now()

str(res)

t24 - t23

 num [1:6] 10 22 12 26 14 30

Time difference of 0.003026009 secs

In [28]:
obj <- 10:15

t25 <- now()
res <- map_if(obj, ~.x%%2 == 1, ~.x*2) %>% flatten_dbl()
t26 <- now()

res

t26 - t25

[1] 10 22 12 26 14 30

Time difference of 0.01844907 secs

In [29]:
obj <- 10:15

t27 <- now()
res <- map_at(obj, c(2, 4, 6), ~.x*2) %>% flatten_dbl()
t28 <- now()

res
t28 - t27

[1] 10 22 12 26 14 30

Time difference of 0.01221395 secs

___

In [31]:
obj <- list(list(a = 1, b = 2, c = 3), list(a = 4, b = 5, c = 6))

In [32]:
pluck(obj, 2, "b")

[1] 5

In [34]:
soma_um <- function(x) { x + 1 }
s_soma_um <- safely(soma_um, 0)
obj <- c(10, 11, "a", 13, 14, 15)

s_soma_um(obj)

$result
[1] 0

$error
<simpleError in x + 1: non-numeric argument to binary operator>

In [36]:
soma_um <- function(x) { x + 1 }
s_soma_um <- quietly(soma_um)
obj <- c(10, 11, "a", 13, 14, 15)

s_soma_um(obj)

ERROR: Error in x + 1: non-numeric argument to binary operator

In [38]:
soma_um <- function(x) { x + 1 }
s_soma_um <- possibly(soma_um, 0)
obj <- c(10, 11, "a", 13, 14, 15)

s_soma_um(obj)

[1] 0